<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon">{%- include social-icons/rss.svg -%}</svg>
            <span>Subscribe</span>
          </a>
        </p>

        <p class="feed-subscribe">
          <a href="{{ 'donate' | relative_url }}">
            <svg class="svg-icon">
              <use
                xlink:href="{{ 'assets/heart.svg#heart' | relative_url }}"
              ></use>
            </svg>
            <span>Support Me</span>
          </a>
        </p>

        <p class="feed-subscribe">
          <a href="https://github.com/aidlran/aidlran.github.io/issues">
            <svg class="svg-icon grey">
              <use
                xlink:href="{{ 'assets/minima-social-icons.svg#github' | relative_url }}"
              ></use>
            </svg>
            <span>Issues</span>
          </a>
        </p>
      </div>

      <div class="social-links">{%- include social.html -%}</div>
    </div>
  </div>
</footer>
